beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-default-group==1.2.4
greenlet==3.0.3
idna==3.6
playwright==1.42.0
pyee==11.0.1
PyYAML==6.0.1
requests==2.31.0
shot-scraper==1.4
soupsieve==2.5
typing_extensions==4.10.0
urllib3==2.2.1
